@charset "UTF-8";

/* -- 共通部分　--*/
html {
    font-size: 100%;
}

body {
    color: #2e2e2e;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'MS Pゴシック','MS PGothic'  
}

a {
    text-decoration: none;
}
image {
    max-width: 100%;
}

/* -- HEADER --*/
.logo {
    width: 210px;
    margin-top: 14px;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: none;
    margin-top: 50px;
    list-style: none;
}

.main-nav li {
    margin-right: 35px;
}

.main-nav a:hover {
    color: ;
}

.page-header {
    background: #FEFEFE;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

/* -- HOME -- */
.home-content {
    background-image: url(..//images/top.images2.png);
    background-size: cover;
    position: relative;
    height: 100vh;
}
.page-title {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5.5rem;
    text-transform: none;
    font-weight: normal;
}
.home-content p {
    font-size: 2rem;
    margin: 10px 0 42px;
    position: absolute;
    top: 60%;
    left: 60%;
    align-items: flex-start;
}

/* -- ABOUT -- */
.about-container {
    background-color: #d2d2d2;

    display: flex;
}
.box1 {
    margin: 8em 0 8em 10em;
    border: solid 1px #FEFEFE;
    background-color: #FEFEFE;
    padding: 50px;
}
.box1 h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 480px;
}
.box1 h4 {
    font-weight: normal;
    margin-left: 485px;
    margin-bottom: 4em;
}
.box1 p {
    text-align: justify;
    line-height: 2;

}
.photo img {
    width: 40%;
    margin-top: 350px;
    margin-left: 100px;
}


/* -- WORKS -- */
.works-container h3 {
    padding-top: 70px;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}
.works-container h4 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 4em;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
    margin-left: 3em;
}
.grid img {
    width: 90%;
}

/* -- CONTACT -- */
.contact-container {
    background-color: #d2d2d2;
}
.contact-container h3 {
    padding-top: 70px;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}
.contact-container h4 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 4em;
}
.contact-container p {
    text-align: center;
}

form div {
    margin-top: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    margin-left: 30%;
}
input[type="text"],
input[type="email"], 
textarea {
    background: rgba(255, 255, 255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin-left: 30%
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

.button {
    background-color: #FEFEFE;
    padding: 10px 20px;
    margin-top: 60px;
    margin-left: 48%;
    margin-bottom: 85px;
    border-radius: 5px;
}

/* -- FOOTER -- */
.wrapper2 {
    background: #FEFEFE;
    text-align: center;
    padding: 2em;
}

/* -- モバイル版 -- */
@media (max-width: 600px) {
    img {
        width: 100%;
        height: 600px;
        background-image: url(..//images/top.images2.png);
        background-size: cover;
    }
    .page-title {
        font-size: 2.5rem;
    }
    /* -- HEADER -- */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* -- HOME --*/
    .home-content {
        margin-top: 20%;
    }
}
